{% extends "blog/base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" 
          src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <p>{{ post.author }} </p>
              <small class="text-muted">{{ post.date_posted}}</small>
            </div>

            <h2><a class="article-title" href="{% url 'post-detail' post.uuid %}">{{ post.title }}</a></h2>
            <p class="article-content" style="word-break:break-word;">{{ post.content }}</p>
              {% if post.image and post.video %}
                <img src = "{{post.image.url}}" class="imageName"/>
              <p></p>
              <video width='400' controls>
                  <source src="{{media}}/{{post.video}}" type='video/mp4'/>
              </video>
              {% elif post.image %}
                  <img src="{{post.image.url}}" class="imageName"/>
              {% elif post.video %}
                  <video width="400px" controls autoplay >
                      <source src="{{media}}/{{post.video}}" type='video/mp4'/>
                  </video>
                <p></p>
              {% else %}

              {% endif%}
          </div>
<!--             <button type="submit" name="object.id" value="{{post_id}}" class="btn btn-primary btn-sm mt-1 mb-1">Like</button>-->
<!--  {{ total_likes }} Like {{ total_likes|pluralize }}-->
          <ul>
              {% for user_p in users %}
		        <li>
                    <a href="{{ user_p.get_absolute_url }}">{{ user_p }}</a>
                </li>
              {% endfor %}
          </ul>
        </article>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
{% endblock %}