{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% if request.GET.q != '' %}
{% if results %}
<h1>Results for {{request.GET.q}} </h1>
<table border="1px solid #fff" class= "friends">
    <tr>
        <th>Profile Picture</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Add friend</th>
    </tr>
    {% for result in results %}
    {% if request.user.id == result.pk %}
    {{pass}}
    {% else %}
    <tr>
        <td>
            <img src="{{result.profile.image.url}}" class="rounded-circle account-img" alt="Profile Picture">
        </td>
        <td><a href="{% url 'profile' result.id %}">{{result.first_name}} {{ result.last_name }}</a></td>
        <td>{{result.email}}</td>
        <td>
            <a href="{% url 'addfriend'  result.id %}">Add Friend</a>
        </td>
        {%endif%}
    </tr>

{% endfor %}

</table>

{% else %}
No search results for this query
{% endif %}
{% endif %}
{% endblock  %}
